<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.siiberad.foodapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ActivityFood.MainFoodActivity"
            android:label="@string/title_activity_main_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityUser.MainUserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityUser.AddUserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityFood.AddFoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityFood.DetailFoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityFood.EditFoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityUser.UserPickMenu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityUser.DetailUserActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        DetailUserActivity
    </application>

</manifest>